.card {
  border: 1.5px solid black;
  margin-bottom: 20px;
  padding: 0.5rem;
  border-radius: 5px;
  line-height: 1.7;
}

.card section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .main-content .btn-filtered .btn {
  font-weight: 500;
  font-size: 1em;
  margin-left: 10px;
}

.header-content .main-content .dropdown {
  position: absolute;
  left: 370px;
  top: 130px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
