.navbar-content .list-navbar {
  position: relative;
}

.list-navbar .btn-filtered {
  position: relative;
}

.list-navbar .btn-filtered button {
  font-weight: 500;
  font-size: 1em;
}

.list-navbar .dropdown {
  position: absolute;
  left: 230px;
  top: 28px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
