.btn-add {
  background-color: #9929ea;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.btn-add:hover {
  transform: translateY(0);
}

.btn-add span {
  margin-right: 5px;
}

.btn-filtered .dropdown {
  position: absolute;
  right: 20px;
  top: 0px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.btn-action div button {
  margin-left: 10px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}
